<h1>{{title}}</h1>
<!-- <h1>Previous Visit Page</h1> -->

<h3>Welcome {{registers}}</h3>

<div ng-include="'partials/navBar.html'"></div>

<div class="doctorLabel">Name of Doctor</div>
<div class="dayOfVisitLabel">Date of Visit</div>
<p></p>
<div class="doctor">
  <ul class="doctor">
    <li ng-repeat="visit in visits">
      <a ng-href="#/previousvisit/{{visit._id}}">{{visit.physicianName}}</a>
    </li>
  </ul>
</div>
<div class="dayOfVisit">
  <ul class="dayOfVisit">
    <li ng-repeat="visit in visits">
      <a ng-href="#/previousvisit/{{visit._id}}">{{visit.date}}</a>
    </li>
  </ul>
</div>
